<IfModule mod_rewrite.c>

Header add Access-Control-Allow-Origin "*"

RewriteEngine on
RewriteRule ^blog/([^/]+)/?$ blog.php?pageType=blog&slug=$1
RewriteRule ^blog$ blog.php?pageType=blog
RewriteRule ^trip/([^/]+)/?$ blog.php?pageType=trip&tripSlug=$1
RewriteRule ^trips$ blog.php?pageType=trips
RewriteRule ^articles$ blog.php?pageType=articles [L]
RewriteRule ^article/([^/]+)/?$ blog.php?pageType=article&slug=$1 [L]

RewriteRule ^/$ index.php [L]
RewriteRule ^contact-us$ contact-us.php [L]
RewriteRule ^about-us$ about-us.php [L]
RewriteRule ^camper-recipes$ camper-recipes.php [L]
RewriteRule ^privacy-policy$ privacy.php [L]

RewriteRule ^blog.php?pageType=blog$ http://www.travelling-camper.co.uk/blogs [R=301]
</IfModule>